.header-info
  .container
    .company-info
      a(href="#").company-info__link О нас
      a(href="#").company-info__link Сотрудничество
      a(href="#").company-info__link Контакты
    .company-number
      span +7 (495) 090-50-11