html {
   font-size: 10px;
}

body {
   font-family: Mulish;
   margin: 0;
   padding: 0;
   font-size: 14px;
   color: 1a1a1a;
   a {
      text-decoration: none;
   }
   button {
      border: none;
   }
}

.container {
   width: 100%;
   max-width: 116rem;
   margin: 0 auto;
}