.header-info {
  background-color: #3c3c3c;
  color: #fff;
  padding: 1.3rem 3rem;
  font-size: 1.2rem;
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 3rem;
    .company-info {
      display: inline-flex;
      flex-wrap: wrap;
      align-items: center;
      a {
        color: #fff;
        margin-left: 2.2rem;
        &:hover {
          color: rgb(211, 211, 211);
        }
      }
    }
    .company-number {
      display: inline-flex;
      margin-left: 6.2rem;
      align-items: center;
    }
  }
}

.header-main {
  margin-top: 2.2rem;
  .container {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    .logo,
    .catalog,
    .user-menu {
      display: flex;
      align-items: center;
    }

    .logo {
      margin-right: 8rem;
    }
    .catalog {
      margin-right: 3rem;
      &-button {
        font-size: 1.6rem;
        padding: 1.5rem 1.7rem;
        height: 5rem;
        display: flex;
        align-items: center;
        background-color: $blue;
        border-radius: 5px;
        cursor: pointer;
        span {
          color: #fff;
          margin-left: 1.7rem;
        }
      }
      .dropdown-menu {
        font-size: 1.6rem;
        // width: 10rem;
      }
    }
    .search {
      display: inline-flex;
      width: 100%;
      max-width: 57rem;
      margin-right: 3rem;
      &-input {
        width: 100%;
        max-width: 52rem;
        height: 5rem;
        font-size: 1.8rem;
        padding: .4rem 1rem;
        border: 1px solid #9A9A9A;
        border-radius: 5px 0 0 5px;
        &:focus {
          outline: none;
        }
      }
      &-button {
        width: 5rem;
        background-color: $blue;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
      }
    }
  }
  .user-menu {
    display: flex;
    justify-content: space-between;
    img {
      width: 1.8rem;
      height: 1.8rem;
    }
    &__link {
      height: 100%;
      margin-left: 2rem;
      color: #202020;
    }
    &__item {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 100%;
    }
  }
}